<div id="nav">
    <a href="/" id="home" class="nav-button">Home</a>
    <a href="/word-counter" id="word-counter" class="nav-button">Word Counter</a>
    <a href="/character-counter" id="character-counter" class="nav-button">Character Counter</a>
    <a href="/case-converter" id="case-converter" class="nav-button">Case Converter</a>
    <a href="/encrypt-decrypt" id="encrypt-decrypt" class="nav-button">Text Encrypt/Decrypt</a>
    <a href="/base64-encoder-decoder" id="base64-encoder-decoder" class="nav-button">Base64 Encoder/Decoder</a>
    <a href="/password-hash-generator" id="password-hash-generator" class="nav-button">Password Hash Generator</a>
    <a href="/timestamp-converter" id="timestamp-converter" class="nav-button">Timestamp Converter</a>
    <a href="/password-generator" id="password-generator" class="nav-button">Password Generator</a>
    <a href="/lorem-ipsum-generator" id="lorem-ipsum-generator" class="nav-button">Lorem Ipsum Generator</a>
    <a href="/what-is-my-ip" id="what-is-my-ip" class="nav-button">What is my IP?</a>
    <a href="/miles-to-km-converter" id="miles-to-km-converter" class="nav-button">Miles to Km Converter</a>
</div>